.titleGroup {
    @apply flex justify-between items-center pt-3;
}

.title {
    @apply font-semibold text-2xl text-black;
}

.link {
    color: #407BFF;
    @apply uppercase font-semibold cursor-pointer text-sm;
}

.imageBlock {
    @apply flex justify-center pt-4;
    border-radius: 10px;

    .image {
        border-radius: 10px;
        max-height: 240px;
        max-width: 280px;
        @apply w-full h-full p-3;

    }
}