.statsList {
  display: flex;
  justify-content: space-between;
}

.statsItem {
  padding-right: 10px;

  .statContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titleContainer {
    display: flex;
    align-items: center;

    .arrowIcon {
      padding-left: 5px;
      font-size: small;
      @apply text-xs pl-2
    }
  }

  .icon {
    border: 5px solid #ccc;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
    color: #fff;

    svg {
      min-width: 24px;
      color: #fff;
    }
  }

  .time {
    background-color: blue;
    border-color: blue;
  }

  .certificates {
    border-color: rgb(13, 150, 13);
    background-color: rgb(13, 150, 13);
  }

  .courses {
    border-color: red;
    background-color: red;

  }

  .count {
    @apply font-semibold text-2xl
  }

  .red {
    color: red;
  }

  .blue {
    color: blue;
  }

  .green {
    color: green
  }
}

.titleContainer {
  @apply pt-4;
  font-weight: 300;
  font-size: medium;

  .title {
    cursor: pointer;
    color: #000;
  }

  .arrowIcon {
    padding-left: 10px;
    color: #5963f3;
    cursor: pointer;
  }
}