$red :#fc4e44;
$blue: #407BFF;
$green: #2ECC40;
$iBlue: #2d67e4;
$iGreen: #0ab31e;
$iRed: #e02218;

.statsList {
  @apply flex ;

  :hover {
    border-radius: 10px;
    color: white;

    .count {
      color: #fff;
    }

    .arrowIcon,
    .title {
      color: #ffff;
    }
  }

  .hoverRed:hover {
    background-color: $red;
  }

  .hoverBlue:hover {
    background-color: $blue;


  }

  .hoverGreen:hover {
    background-color: $green;
  }
}

.test {
  font-size: 12px;
}

.statsItem {
  min-width: 240px;
  padding-right: 10px;
  cursor: pointer;
  padding: 8px;
margin-left: 10px;

  .statContainer {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .arrowIcon {
      padding-left: 5px;
      font-size: small;
      @apply text-xs pl-2;
    }
  }

  .icon {
    border: 5px solid #ccc;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
    color: #fff;

    svg {
      min-width: 24px;
      color: #fff;
    }
  }

  .time {
    background-color: $iBlue;
    border-color: $iBlue;
  }


  .certificates {
    border-color: $iGreen;
    background-color: $iGreen;
  }

  .courses {
    border-color: $iRed;
    background-color: $iRed;
  }

  .count {
    @apply font-semibold text-2xl;


  }

  .countRed {
    color: $red;
  }

  .countBlue {
    color: $blue;
  }

  .countGreen {
    color: $green;
  }


}

.titleContainer {
  @apply pt-4;

  .title {
    color: #000;
    font-size: medium;
    font-weight: 400;

  }

  .arrowIcon {
    min-width: 24px;
    padding-left: 10px;
    color: #5963f3;
  }
}