.navbar {
  @apply flex flex-col p-4 pt-0 items-start;
  padding-bottom: 38px;
  width: 286px;

  .title {
    @apply font-semibold;
  }
}

.links {
  @apply text-black flex items-center w-64;
  list-style: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;

  .icon {
    padding: 5px;
  }


}


.active {
  @apply text-white bg-primary;
  cursor: default;
}