.schoolSection {
  width: 100%;
}

.titleWrapper {
  max-width: 824px;
  @apply flex justify-between pt-10
}
.cardWrapper{
  
  @apply flex pt-8 justify-start
}

.card{
  width: 100%;
  height: 100%;
}
.heading{ 
  @apply font-semibold text-2xl text-black;
}