.button {
  @apply text-white p-1 font-medium flex justify-center items-center;
  border: 2px solid #407BFF;
  color: #407BFF;
  border-radius: 12px;
  max-width: 192px;
  width: 100%;

  &:hover {
    background-color: #407BFF;
    color: #ffff;
  }

  svg {
    min-width: 20px;
    padding-right: 4px;
  }
}