.select {
  @apply min-w-max;
  cursor: pointer;

  max-width: 164px;
  width: 100%;
  height: 52px;
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg p-2 ml-4;

  &:focus {
    outline: none;
  }

}